@page "/"

<PageTitle>运行</PageTitle>

@* 一个大大的Textare输入框 *@
<textarea class="form-control" rows="10" @bind="sandbox.Script"></textarea>

@* 一个按钮 *@
<button class="btn btn-primary mt-2" @onclick="sandbox.Run">运行</button>

@* 一个输出框 *@
<textarea class="form-control mt-2" rows="10" readonly>@sandbox.Output</textarea>
@code
{
    private CodeSandBox sandbox = new CodeSandBox([typeof(File)]);

}